.App {
  text-align: center;
  border: 5px solid red;
  margin-left: 33.33%;
  margin-right: 33.33%;
  margin-top: 2%;
  background-color: aqua
}
.nowPlaying{
  border: 1px solid red;
  background-color: #b8dbc4;
  padding: 2%;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonContainer{
  padding: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.drumbutton{
  margin-left: 1%;
  border: 3px solid red;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 30%;
  height: 50px;
}
@keyframes showBody {
  from {height: 0;}
  to {height: 400px;}
}
@keyframes unshowBody {
  from {height: 400px;}
  to {height: 0px;}
}
.offmessage{
  animation-name: unshowBody;
  animation-duration: 1s;
}
.deviceBody{
  animation-name: showBody;
  animation-duration: 1s;
}

